name: Deploy Swagger UI to GitHub Pages

on:
  release:
    types: 
      - published
permissions:
  contents: write

jobs:
  generate-and-deploy-docs:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up JDK 24
      - name: Set up JDK 24
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 24

      # Make the shell script executable
      - name: Make shell script executable
        working-directory: ./server
        run: chmod +x ./generate-swagger.sh

      # Run the shell script to generate Swagger UI
      - name: Generate Swagger UI
        working-directory: ./server
        run: ./generate-swagger.sh

      # Deploy the docs folder to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./server/docs
